*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Montserrat","sans-serif";
    background: #75cc112c;
    background-image: url(sky.jpg);
  }
  
  h1 {
    text-align: center;
  }
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #65ceee;
    border: none;
    border-radius: 1px;
    font-family: "Montserrat",sans-serif;
    font-weight:bold;
    font-size : 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7f337;
    border: none;
    border-radius: 1px;
    font-family: "Montserrat",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: #a02ee2;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 8px;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:20px 0;
    font-size:20px;
  }
  